<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="conn" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;initial catalog=Nissei;password=123456;User ID=sa;" />
		<add name="conn2" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;initial catalog=Nissei;Integrated Security=True;" />
	</connectionStrings>
</configuration>