<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="conn" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;initial catalog=Nissei;password=dragones;User ID=sa;"/>
    <add name="conn2" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;initial catalog=Nissei;Integrated Security=True;"/>
  </connectionStrings>

  <appSettings>
    <add key="typeConnectionDataBase" value="pro"/>
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
